/* Styles for Side Buttons */

.btn {
  display: flex;
  gap: 6px;
  background-color: #5850eb;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.btn--sides {
  background-color: #5850eb;
  color: white;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
}

/* Styles for Card Buttons */
.btn--card {
    /* justify-self: center;
      align-self: center; */
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
    border-top: 1px solid #E5E7EB;
    justify-content: center;
    align-items: center;
  }
  .email {
    grid-column: 1/2;
    border-right: 1px solid #E5E7EB;
    background-color: none;
  }
  .call {
    grid-column: 2/3;
    background-color: none;
  }
  .btn1 {
    border: none;
    font-size: 16px;
    background-color: #ffffff;
  }
  .fa--color {
    color: #9ea6b2;
  }
  .tag-admin {
    background-color: #d5f5f6;
    border-radius: 10px;
    padding: 4px 10px;
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    font-weight: 400;
  }